{% extends 'base.html.twig' %}

{% block title %}Email de facturation{% endblock %}

{% block body %}
    
<h1>Invoice</h1>

<p>Montant payé : {{ stagiaire.montantPaye }}</p>
<p>Payé en intégralité : {{ stagiaire.payeEnIntegralite ? 'Oui' : 'Non' }}</p>
{% if not stagiaire.payeEnIntegralite %}
    <p>Nombre de paiements : {{ stagiaire.nombrePaiements }}</p>
{% endif %}
<form action="{{ path('send_invoice', {'id': stagiaire.id}) }}" method="post">
    <label for="montant">Montant:</label>
    <input type="text" id="montant" name="montantPaye" required>

    <label for="payeEnIntegralite">Payé en intégralité:</label>
    <input type="checkbox" id="payeEnIntegralite" name="payeEnIntegralite" value="1">

    <div id="nombrePaiementsDiv">
        <label for="nombrePaiements">Nombre de paiements:</label>
        <input type="number" id="nombrePaiements" name="nombrePaiements" min="1">
    </div>
    <input type="hidden" name="stagiaireId" value="{{ stagiaire.id }}">
    <button type="submit">Envoyer Facture</button>
</form>



    
{% endblock %}