{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}
        {% if app.user %}

        {# affichage détail stagiaire  #}
        <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h1>Fiche stagiaire</h1>
                        <h5 class="card-title">{{ stagiaire.nom }} {{ stagiaire.prenom }}</h5>
                        <p class="ligne">Courriel : {{ stagiaire.email }} </p>
                        <p>Adresse : {{ stagiaire.adresse }} </p>
                        <p class="ligne">{{ stagiaire.cp ~ ' ' ~ stagiaire.ville|capitalize }} </p>
                        <div class="button-card">
                          {# <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}" class="btn btn-primary">Voir détails</a> #}
                          <a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                          <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-solid fa-trash"></i></a>
                          <a href="{{ path('invoice', {'id': stagiaire.id}) }}"><i class="fa-solid fa-file-invoice-dollar"></i></a>
                        </div>
                    </div>
                </div>
        </div>
        {% else %}
            <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
    {% endif %}

        {# vérifie si tableau vide  #}
        {% if stagiaire.sessions|length == 0 %}
        <h1>Sessions prévues</h1>
            <h3>Aucune session prévue</h3>
        {% else %}
            <h1>Détail paiement</h1>

            <h5>Montant payé :  {{ stagiaire.montantPaye ~ ' €'}}</h5>
                <h5>Payé en intégralité : {{ stagiaire.payeEnIntegralite ? 'Oui' : 'Non' }}</h5>
                {% if not stagiaire.payeEnIntegralite %}
                    <h5>Nombre de paiements : {{ stagiaire.nombrePaiements }}</h5>
                {% endif %}
            </h5>
            {# affiche session stagiaire prévue  #}
            {% for session in stagiaire.sessions %}
                {% for inscription in session.inscriptions %}
                    {% if inscription.id == stagiaire.id %}
                        <p class="titre"><h5> <a href="{{ path('show_session', {'id': session.id}) }}">{{ session.titre }} </a>  {{ ' ( du ' ~ session.dateDebut|date('d-m-Y') ~ ' au ' ~ session.dateFin|date('d-m-Y') ~ ' ) ' }}<a href="{{ path('deleteStagiaire_session', {'id': session.id, 'inscriptionId': inscription.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                {% endfor %}
        {% endfor %}
        {% endif %}

{% endblock %}
