{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}
        {% if app.user %}
            <div class="detail">
                <h1>Fiche stagiaire</h1>

                <h2>{{ stagiaire }}</h2>
                <p class="stagiaire">
                    {{ stagiaire.dateNaissance|date('d-m-Y') }}<br>
                    {{ stagiaire.email }}<br>
                    {{ stagiaire.adresse }}<br>
                    {{ stagiaire.cp ~ ' ' ~ stagiaire.ville }}
                </p>
            </div>
        {% else %}
            <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
{% endif %}

    

{% endblock %}
