{% extends 'base.html.twig' %}

{% block title %}Liste session{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="login">

      <h1>Liste session</h1>
      
      <a class="btn btn-primary" href="{{ path('new_session') }}">Ajouter une session</a><br>
    </div>
    
    <div class="list">
      {# affichage liste session  #}
                <table class="table-bordered">
                    <thead>
                      <tr>
                        <th class="th" scope="col">Intitulé et date Session</th>
                        <th class="th" scope="col">Supprimer</th>
                        <th class="th" scope="col">Editer</th>
                        <th class="th" scope="col">Liste participant</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                        <tr>
                          <th scope="row"><p class="titre"><h5>{{ session.titre ~ ' ( du ' ~ session.dateDebut|date('d-m-Y') ~ ' au ' ~ session.dateFin|date('d-m-Y') ~ ' ) ' }} <a href="{{ path('show_session', {'id': session.id}) }}"><i class="fa-solid fa-book"></i></a></p></th>
                          <td><a href="{{ path('delete_session', {'id': session.id}) }}"><i class="fa-solid fa-trash"></i></a></td>
                          <td><a href="{{ path('edit_session', {'id': session.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                          <td><a href="{{ path('listInscription_session', {'id': session.id}) }}"><i class="fa-solid fa-users"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    {% else %}
        <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
    {% endif %}
    
    
{% endblock %}
