{% extends 'base.html.twig' %}

{% block title %}Liste session{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="list">
        <h1>Liste session</h1>

            <a class="btn btn-primary" href="{{ path('new_session') }}">Ajouter une session</a><br>

                <table class="table-bordered">
                    <thead>
                      <tr>
                        <th class="th" scope="col">Intitulé Session</th>
                        <th class="th" scope="col">Date de début</th>
                        <th class="th" scope="col">Date de fin</th>
                        <th class="th" scope="col">Nb places théoriques</th>
                        <th class="th" scope="col">Nb places reservées</th>
                        <th class="th" scope="col">Nb places restantes</th>
                        <th class="th" scope="col">Liste participant</th>
                        <th class="th" scope="col">Détails programme</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                        <tr>
                          <th scope="row"> {{ session.titre }} <a href="{{ path('delete_session', {'id': session.id}) }}"><i class="fa-solid fa-trash"></i></a><a href="{{ path('edit_session', {'id': session.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                          </th>
                          <td>{{ session.dateDebut|date('d-m-Y') }}</td>
                          <td>{{ session.dateFin|date('d-m-Y') }}</td>
                          <td>{{ session.nbPlace }}</td>
                          <td>{{ session.nbInscrit }}</td>
                          <td>{{ session.nbPlacesRestantes }}</td> 
                          <td><a href="{{ path('listInscription_session', {'id': session.id}) }}"><i class="fa-solid fa-users"></i></a></td>
                          <td><a href="{{ path('show_session', {'id': session.id}) }}"><i class="fa-solid fa-book"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    {% else %}
        <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
    {% endif %}
    
    
{% endblock %}
