{% extends 'base.html.twig' %}

{% block title %}Liste stagiaire inscrit{% endblock %}

{% block body %}
        {% if app.user %}
            <div class="detail">
                <h1>Liste stagiaire inscrit</h1>
                
                {# liste inscription session  #}
                {% if inscriptions | length == 0 %}
                    <p>Pas d'inscrits</p>
                {% else %}
                    {% for inscrit in inscriptions %}
                    <a  href="{{ path('show_stagiaire', {'id': inscrit.id}) }}">{{ inscrit }}</a> 
                    <a href="{{ path('deleteStagiaire_session', {'id': sessions.id, 'inscriptionId': inscrit.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    {% endfor %}
                {% endif %}
               
                <div class="list-deroulante">
                    {# Formulaire pour attribuer une session #}
                    <form action="{{ path('addStagiaire_session', {'id': sessions.id}) }}" method="post">
                        <label for="select">Veuillez selectionnez le stagiaire pour l'ajouter à la liste</label><br>
                        <select class="option" name="stagiaire">
                            {% for stagiaire in stagiaires %}
                                <option  value="{{ stagiaire.id }}">{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary" type="submit">Ajouter</button>
                    </form>
                </div>

                    
            </div>
                
        {% else %}
            <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
        {% endif %}

{% endblock %}