{% extends 'base.html.twig' %}

{% block title %}Programme session{% endblock %}

{% block body %}
        {% if app.user %}
<div class="container">
    <div class="section1">
        <span class="login">
            <h1>Liste stagiaire inscrit</h1>
        </span>
        <span class="list">
            <span class="login">
                {# liste inscription session  #}
                {% if inscriptions | length == 0 %}
                    <p>Pas d'inscrits</p>
                {% else %}
                    <span>
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                <th class="th" scope="col">Stagiaire</th>
                                <th class="th" scope="col">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>    
                                {% for inscrit in sessions.inscriptions %}
                                  <tr>
                                    <td><a href="{{ path('show_stagiaire', {'id': inscrit.id}) }}">{{ inscrit }}</a> </td>
                                    <td><a href="{{ path('deleteStagiaire_session', {'id': sessions.id, 'inscriptionId': inscrit.id}) }}"><i class="fa-solid fa-trash"></i></a></td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </span>
                {% endif %}
            </span>
        
            <span class="login">
                {# Formulaire inscription session #}
                <form action="{{ path('addStagiaire_session', {'id': sessions.id}) }}" method="post">
                    <label for="select">Veuillez selectionnez le stagiaire pour l'ajouter à la liste</label><br>
                    <select class="edit" name="stagiaire">
                        {% for nonInscrit in nonInscrits %}
                            <option class="edit"   value="{{ nonInscrit.id }}">{{ nonInscrit.nom }} {{ nonInscrit.prenom }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary edit" type="submit">Ajouter</button>
                </form>
            </span>
        </div>
    <div class="section2">
        {# affiche programme session  #}
        <span class="login">
            <h1>Programme session</h1>
            <span class="list">
                <table class="table-bordered">
                    <thead>
                        <tr>
                        <th class="th" scope="col">Module</th>
                        <th class="th" scope="col">Durée en jour</th>
                        <th class="th" scope="col">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>    
                        {% for prog in sessions.programmes %}
                        <tr>
                            <td> {{ prog.section.nomSection }} </td>
                            <td>{{ prog.duree }}</td>
                            <td><a href="{{ path('deleteProgramme_session', {'id': sessions.id, 'programmeId': prog.id}) }}"><i class="fa-solid fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </span>
        </span>
    </div>
    <div class="section3">
        {# affiche detail  #}
        <span class="login">
            <h1>Détail réservation</h1>
            <span class="list">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th class="th" scope="col">Nb places</th>
                            <th class="th" scope="col">Nb places reservées</th>
                            <th class="th" scope="col">Nb places restantes</th>
                        </tr>
                    </thead>
                    <tbody>    
                        {% for placeSession in placeSessions %}
                        <tr>
                            <td>{{ placeSession.nbPlace }}</td>
                            <td>{{ placeSession.nbInscrit }}</td>
                            <td>{{ placeSession.nbPlacesRestantes }}</td> 
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </span>
        </span>
    </div>
    <div class="section4">
        {# ajoute programme #}
        <span class="login">
            {% if app.user %}
                <h1>Ajouter un programme</h1>
                {# formulaire ajout programme  #}
                {{ form_start(formAddProgramme) }}
                {{ form_row(formAddProgramme.duree) }}<br>
                {# {{ form_row(formAddProgramme.session) }}<br> #}
                {{ form_row(formAddProgramme.section) }}<br>
                {{ form_end(formAddProgramme) }}
        </span>
        <form action="{{ path('addStagiaire_session', {'id': sessions.id}) }}" method="post">
            <label for="select">Veuillez selectionnez le stagiaire pour l'ajouter à la liste</label><br>
            <select class="edit" name="stagiaire">
                {% for findProgNoSession in findProgsNoSession %}
                    <option class="edit"  value="{{ findProgNoSession.id }}">{{ findProgNoSession.section.nomSection }}</option>
                {% endfor %}
            </select>
        {# message flash succès ajout  #}
            {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </span>
    </div>
</div>
            {% endfor %}
                {% else %}
                    <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
                {% endif %}
                
        {% else %}
            <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
        {% endif %}

{% endblock %}
