{% extends 'base.html.twig' %}

{% block title %}Programme session{% endblock %}

{% block body %}
        {% if app.user %}
<div class="">
    <div class="section1">
        <span class="login">
            <h1>Formation {{ sessions.formation.intitule }} </h1>
            <h2> {{ sessions.titre ~ ' ( du ' ~ sessions.dateDebut|date('d-m-Y') ~ ' au ' ~ sessions.dateFin|date('d-m-Y') ~ ' ) ' }} </h2>
            <h3>Dispensée par : {{ sessions.formateur.nom ~ ' ' ~ sessions.formateur.prenom }} </h3>
            {% for placeSession in placeSessions %}
            <div class="">
                <div class="card-body">
                    <h5 class="detail-place">Nb places : {{ placeSession.nbPlace }}</h5>
                    <h5 class="detail-place">Nb places reservées : {{ placeSession.nbInscrit }}</h5>
                    <h5 class="detail-place">Nb places restantes : {{ placeSession.nbPlacesRestantes }}</h5>
                </div>
            </div>
            {% endfor %}
        </span>
        <span class="login">
            <h2>Liste stagiaire inscrit</h2>
        </span>
        <span class="list">
            <span class="login">
                {# liste inscription session  #}
                {% if inscriptions | length == 0 %}
                    <p>Pas d'inscrits</p>
                {% else %}
                <div class="row">
                    {% for inscrit in sessions.inscriptions %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('show_stagiaire', {'id': inscrit.id}) }}">{{ inscrit }}</a></h5>
                                    <p class="ligne">Courriel : {{ inscrit.email }} </p>
                                    <p>Adresse : {{ inscrit.adresse }} </p>
                                    <p class="ligne">{{ inscrit.cp ~ ' ' ~ inscrit.ville|capitalize }} </p>
                                <div class="button-card">
                                    <a href="{{ path('deleteStagiaire_session', {'id': sessions.id, 'inscriptionId': inscrit.id}) }}"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </span>
        
           
                {# Formulaire inscription session #}
                {% if nonInscrits | length == 0  %}
                    <h5>Tous les stagiaires sont inscrit à la session</h5>
                    {% else %}
                    <form class="form" action="{{ path('addStagiaire_session', {'id': sessions.id}) }}" method="post">
                        <label for="select">Veuillez selectionnez le stagiaire pour l'ajouter à la liste</label><br>
                            <select class="edit-1" name="stagiaire">
                                {% for nonInscrit in nonInscrits %}
                                    <option class="edit-1"   value="{{ nonInscrit.id }}">{{ nonInscrit.nom }} {{ nonInscrit.prenom }}</option>
                                {% endfor %}
                            </select>
                        <button class="btn btn-secondary edit-1" type="submit">Ajouter</button>
                    </form>
                {% endif %}
        </div>
    <div class="section2">
        {# affiche programme session  #}
        <span class="login">
            <h2>Programme session</h2>
                <div class="row">
                    {% for prog in sessions.programmes %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ prog.section.nomSection }}</h5>
                                <p class="ligne">Durée : {{ prog.duree }} {% if prog.duree > 1 %}
                                    jours
                                {% else %}
                                    jour
                                {% endif %} </p>
                                <div class="button-card">
                                    <a href="{{ path('deleteProgramme_session', {'id': sessions.id, 'programmeId': prog.id}) }}"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </span>
    <div class="section4">
        {# ajoute programme #}
        <span class="login">
            <form class="form-prog"  action="{{ path('addModule_session', {'id': sessions.id}) }}" method="post">
                <label for="duree">Durée</label><br>
                    <input class="edit" type="number" name="duree" required>
                    <label for="select">Veuillez sélectionner le module pour l'ajouter à la liste</label><br>
                    <select class="edit" name="module">
                        {% for findProgNoSession in findProgsNoSession %}
                            <option class="edit" value="{{ findProgNoSession.id }}">{{ findProgNoSession.nomSection }}</option>
                        {% endfor %}
                    </select>
                <button class="btn btn-secondary edit" type="submit">Ajouter</button>
            </form>
        </span>

        {# message flash succès ajout  #}
        {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        
        </div>
    </div>
            {% endfor %}
                {% else %}
                    <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
                {% endif %}
                
       
{% endblock %}
