{% extends 'base.html.twig' %}

{% block title %}Ajouter programme{% endblock %}

{% block body %}
<div class="login">
    {% if app.user %}
        <h1>Ajouter un programme</h1>
        {# formulaire ajout programme  #}
        {{ form_start(form) }}
        {{ form_row(form.duree) }}<br>
        {{ form_row(form.session) }}<br>
        {{ form_row(form.section) }}<br>
        {{ form_end(form) }}
   
        </div>
        {# message flash succès ajout  #}
            {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
            {% endfor %}
    {% else %}
        <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
    {% endif %}
    
    
{% endblock %}