{% extends 'base.html.twig' %}

{% block title %}Liste session{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="list">
        <h1>Détail programme</h1>
        {{ form_start(form) }}
        {{ form_row(form.duree) }}<br>
        {{ form_row(form.session) }}<br>
        {{ form_row(form.section) }}<br>
        {{ form_end(form) }}
   
        </div>
        
            {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
            {% endfor %}
    {% else %}
        <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
    {% endif %}
    
    
{% endblock %}